@font-face {
  font-family: 'Maragsa';
  src: url('/fonts/Maragsa.woff2') format('woff2'),
       url('/fonts/Maragsa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Maragsa', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F24A5C;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3rem 1.5rem;
}

.container {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
}

h3 { 
    font-size: x-large;
    margin-bottom: 10px;
}

p {
    font-size: large;
    margin: 5px 2px;
    color: #f7c987   ;
}

a {
     font-size: large;
     margin: 5px 2px;
     color: #f7c987 ; 
}